.topNavbar {
  text-align: center;
}

.topNavbar .nav-item {
  background-color: transparent;
  padding: 0 5px;
  border: 0;
  text-decoration: none !important;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.3rem;
}

.topNavbar.light .nav-item {
  color: darkblue;
}

.topNavbar.dark .nav-item {
  color: lightgoldenrodyellow;
}

