.notFound {
  text-align: center;
  max-width: 50%;
  margin: auto;
}
.notFound p {
  font-size: 1.2rem;
  font-weight: bold;
}

.notFound .linkTo {
  color: darkblue;
  text-decoration: none;
  cursor: pointer;
}

.notFound.light .linkTo {
  color: darkblue;
}

.notFound.dark .linkTo {
  color: lightgoldenrodyellow;
}

.notFound .mi-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}