.wellcome {
  text-align: center;
  max-width: 50%;
  margin: auto;
}
.wellcome p {
  font-family: Brush Script MT;
  font-size: 1.6rem;
  font-weight: normal;
  font-style: italic;
  text-align: justify;
}

.wellcome.light p {
  color: goldenrod;
  text-shadow: 1px 1px slategrey;
}

.wellcome.dark p {
  color: khaki;
  text-shadow: 1px 1px lightsalmon;
}
