.targetForm {
  margin: 20px auto 20px auto;
  max-width: 50vw;
  text-align: left;
}

.targetForm .fieldBlock {
  margin-bottom: 10px;
}

.targetForm label {
  margin-left: 10px;
  color: darkslategray;
  font-size: 0.9rem;
}

.targetForm input[type=text], .targetForm select {
  width: 100%;
  font-size: 1.1rem;
  padding: 4px 8px;
  display: inline-block;
  border-radius: 6px 0 6px 0;
  border: 1px solid silver;
  box-sizing: border-box;


}

.targetForm button {
  text-align: center;
  font-size: 1.1rem;
  padding: 6px 12px;
  border-radius: 6px;
  display: inline-block;
}