.Target {
  display: flex;
  flex-flow: row no-wrap;
}

.Target .name {
  text-align: left;
  flex-grow: 3;
  margin-left: 5px;
  font-family: Brush Script MT;
  font-weight: lighter;
  font-size: 1.2rem;
  text-decoration: none;
}

.Target.alive .name {
  color: green;
}

.Target.alive.dark .name {
  color: lawngreen;
}

.Target.downed .name {
  text-decoration: line-through;
  color: red;
}

.Target.downed .name {
  color: indianred;
}

.Target .action {
  flex-shrink: 3;
  margin-right: 5px;
}

.Target .action button {
  background-color: transparent;
  padding: 0;
  border: 0;
  color: darkblue;
  cursor: pointer;
}

.Target .mi-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}